body {
   
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
}

#app {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
	padding: 20px;
    color: #333;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
}

#price-input {
    margin-right: 10px;
}

button {
    padding: 8px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#computer-parts-info {
    max-width: 800px;
    margin: 0 auto;
}

.part {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}


.container {
    width:100%;
	min-height:100vh;
	background-image: url("../images/background.gif");
	background-position:center;
	background-size:cover;
    display:flex;
	align-items:top;
	justify-content:center;
    text-align:center ;
}
 

.search-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}



/* Styles for smaller screens */

@media (max-width: 600px) {
    input[type="text"],
    select,
    #price-input {
        width: 100%;
        margin-bottom: 10px;
    }
    button {
        width: 100%;
    }
}

.search-container label,
.search-container input,
.search-container select,
.search-container button {
    margin-bottom: 10px;
}

.search-container label {
    flex: 1; /* Make labels take up equal width */
    max-width: 100px; /* Limit label width */
}

.search-container input,
.search-container select {
    flex: 4; /* Make input and select take up more width */
    max-width: 200px; /* Limit input and select width */
}

.search-container button {
    flex: 1; /* Make the button take up equal width */
    max-width: 100px; /* Limit button width */
}

.search-container input[type="text"],
.search-container select {
    width: calc(30% - 10px); /* Adjust the width as needed */
    margin-bottom: 10px;
}

.search-container #price-input {
    width: calc(30% - 10px);
    margin-right: 10px;
}

.search-container button {
    width: 100%; /* Full width for the button on smaller screens */
}